[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    # type = "archive"
    # url = "https://github.com/tmux-plugins/tpm/archive/refs/heads/master.tar.gz"
    refreshPeriod = "168h"
