# fonts
font-size = 22
font-family = "JetBrains Nerd Font"


# window
window-width = 999999
window-height = 999999
window-padding-x = 5
window-padding-balance = true
window-save-state = always
macos-titlebar-style = tabs

background = 070b1f
# transparent..opaque = 0..1
background-opacity = 0.15
# reasonable blur values 0..20 or true/false
background-blur = 15


# cursor
cursor-style = block
cursor-color = #f8b100
cursor-opacity = 0.5
cursor-style-blink = false
shell-integration-features = no-cursor


# quick terminal
quick-terminal-position = bottom
quick-terminal-animation-duration = 0
keybind = global:super+§=toggle_quick_terminal


# keys
keybind = alt+right=unbind
keybind = alt+left=unbind
